<footer id="footer">
  <div class="inner">

      <!-- footer-nav -->
    	<nav id="footer-nav">
          <div class="inner">
            <ul class="footer-list">
              <li class="menu-item txtm"><a href="#">Home</a></li>
              <li class="menu-item txtm"><a href="#about">twitter</a></li>
              <li class="menu-item txtm"><a href="#skill">メール</a></li>
            </ul>
          </div><!-- /inner -->
        </nav><!-- /footer-nav -->
      
    <div class="copy txtxs">
      <small>© 2020 ITEM5W.</small> 
    </div>
  </div>
</footer>